.cirlces
  .circleGreen1
  .circleGreen2
  .circleYellow1
  .circleYellow2

.panels
  .panel.whitePanel
    h2.title 服務學習心得產生器
    h6.subtitle 僅供娛樂，拿來交作業一概不負責唷！
    .buttons
      textshow 服務地點：
      textarea#input1(row="1")
    
    .buttons
      textshow 服務對象：
      textarea#input2(row="1")
    .symbol ♥
    .buttons
      button.buttonOne 抒情版
      button.buttonTwo 溫馨版
    .buttons
      button.buttonThree 反思版
      button.buttonFour 真誠版
  .panel.rightPanel
    h4.list 剛出爐的心得在這ㄦ～
    textarea#output 

    .buttons
      button.buttonTwo.E 複製內文
  


